html, body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:not(input):not(textarea):not(button) {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.flipkart-search-bar {
  border: none;
  outline: none;
  font-size: 17px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  font-family: Roboto, Arial, sans-serif;
  box-shadow: none;
}

.flipkart-search-bar::placeholder {
  text-overflow: ellipsis;
  color: #8d8d8d;
}


